.titleBuscador {
  font-size: 25px;
  font-weight: bold;
  margin: 15px;
  margin-left: 40px;
  margin-bottom: 15px;
  margin-top: 20px;
  color: gray;
  margin-right: auto;
}

.buscador {
  width: 95%;
  height: 100%;
  box-sizing: border-box;
  gap: 25px;
  margin-left: 2%;
  margin-bottom: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
}

.mainBuscador {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 0px;
}

.mainContentBuscador {
  display: flex;
  flex-direction: row; 
  align-items: stretch;
  justify-content: space-between; 
  gap: 20px; 
}

.containerTableBusc {
  flex: 1; 
  margin-bottom: 0px;
}

.navbarParent {
  margin-bottom: 0px;
}

@media screen and (max-width: 1200px) {
  .mainContentBuscador {
    flex-direction: column; 
    align-items: stretch;
    gap: 20px; 
  }
  
  .containerTableBusc {
    width: 100%; 
    margin-left: 0; 
  }
}

@media screen and (max-width: 750px) {
  .buscador {
    margin-left: -50px;
  }

  .mainContentBuscador{
    width: 90%;
    margin-left: 70px;
  }

  .navbarParent {
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 0;
    width: 99%;
  }

  .titleBuscador {
    margin-bottom: 0;
    margin-left: 80px;
  }
  
  .containerTableBusc {
    width: 100%;
    overflow-x: auto; 
    margin-bottom: 25px;
  }
  
  .mainBuscador {
    width: 100%;
    overflow: hidden;
    overflow-x: hidden;
    margin-top: 20px;
    gap: 20px; 
  }
}

@media screen and (max-width: 450px) {
  .mainBuscador {
    gap: 15px; 
  }
}
