.content,
.jurimetria {
  text-align: left;
  color: var(--light-solid-color-extra-card-background);
  font-family: var(--light-form-input-8-placeholder-default);
}

.content {
  width: 100%;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  position: relative;
  font-size: var(--light-basic-typography-paragraph-small-size);
  min-height: 100vh; 
  box-sizing: border-box;
}

.jurimetria {
  width: 100%;
  height: 100%;
  background-color: var(--light-solid-color-extra-card-background);
  overflow: hidden;
  display: flex;
  margin-bottom: 25px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--light-basic-typography-caption-size);
  min-height: 100vh; 
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  body, html {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
  }

  .jurimetria {
    flex-direction: column; 
    width: 94%; 
    margin-left: 30px;
    margin-top: 0; 
    height: 100%;
    padding: 0 10px; 
    overflow: hidden; 
    min-height: 100vh;
    box-sizing: border-box; 
  }

  .content > div {
    width: 97% !important;
    margin: 10px 0; 
  }

  .contentChart {
    position: relative;
    top: 55%;
    margin-top: 20px; 
    left: -9%;
  }

  .contentDecisoes {
    position: relative;
    top: 60%;
    margin-top: 20px; 
    left: -3%;
  }

  .contentTable {
    position: relative;
    top: 0;
    margin-top: 20px; 
    left: 4%;
    bottom: 0;
    margin-bottom: 20px;
  }
}
