.circleDotIcon,
.whiteBackground1 {
  position: absolute;
  margin: 0 !important;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.whiteBackground1 {
  height: 43.33%;
  width: 32.29%;
  top: 23.33%;
  right: 57.35%;
  bottom: 33.33%;
  left: 10.36%;
  object-fit: cover;
  z-index: 0;
}
.circleDotIcon {
  height: 33.33%;
  width: 7.71%;
  top: 28.33%;
  right: 6.14%;
  bottom: 38.33%;
  left: 86.14%;
  z-index: 1;
}
.dados,
.logo {
  position: relative;
}
.logo {
  align-self: stretch;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-sm) var(--padding-xl)
    var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.dados {
  text-decoration: none;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #f9f8fd;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 23px;
}
.section {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl) var(--padding-8xs);
}
.chartBarIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.estatsticas {
  align-self: stretch;
  width: 171px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
}
.list {
  border-radius: var(--br-7xs);
  background-color: var(--light-solid-color-extra-card-background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-13xl) var(--padding-5xs)
    var(--padding-10xl);
  gap: var(--gap-5xs);
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.atendimento {
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #fefdff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 23px;
}
.section1 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl) var(--padding-8xs);
}
.mailIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.danger,
.email {
  position: relative;
  display: none;
}
.email {
  width: 125px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.danger {
  align-self: stretch;
  line-height: 14px;
  font-weight: 500;
}
.badge,
.list1 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.badge {
  height: 22px;
  width: 37px;
  border-radius: var(--br-sm);
  background-color: var(--light-solid-color-danger-danger-500-base);
  display: none;
  padding: var(--padding-9xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.list1 {
  border-radius: var(--br-7xs);
  display: flex;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.messageCircle2Icon {
  height: 22px;
  width: 22px;
  position: relative;
}
.chat,
.danger1 {
  position: relative;
  display: none;
}
.chat {
  width: 126px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.danger1 {
  align-self: stretch;
  line-height: 14px;
  font-weight: 500;
}
.badge1,
.list2 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.badge1 {
  height: 22px;
  width: 36px;
  border-radius: var(--br-sm);
  background-color: var(--light-solid-color-danger-danger-500-base);
  display: none;
  padding: var(--padding-9xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.list2 {
  border-radius: var(--br-7xs);
  display: flex;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.calendarIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.calendario {
  width: 128px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.danger2 {
  align-self: stretch;
  position: relative;
  line-height: 14px;
  font-weight: 500;
}
.badge2 {
  height: 22px;
  border-radius: var(--br-sm);
  background-color: var(--light-solid-color-danger-danger-500-base);
  display: none;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-9xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.badge2,
.dashboard,
.list3 {
  justify-content: flex-start;
}
.list3 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.dashboard {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  gap: var(--gap-9xs);
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.vendas {
  flex: 1;
  position: relative;
  line-height: 14px;
  text-transform: uppercase;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #fefeff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.section2 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl) var(--padding-8xs);
}
.layoutSidebarIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.danger3,
.leads {
  position: relative;
  display: none;
}
.leads {
  width: 128px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.danger3 {
  align-self: stretch;
  width: 14px;
  line-height: 14px;
  font-weight: 500;
}
.badge3,
.list4 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.badge3 {
  height: 22px;
  width: 34px;
  border-radius: var(--br-sm);
  background-color: var(--light-solid-color-danger-danger-500-base);
  display: none;
  padding: var(--padding-9xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.list4 {
  border-radius: var(--br-7xs);
  display: flex;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.book2Icon {
  height: 22px;
  width: 22px;
  position: relative;
}
.contatos,
.danger4 {
  position: relative;
  display: none;
}
.contatos {
  width: 128px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.danger4 {
  align-self: stretch;
  width: 14px;
  line-height: 14px;
  font-weight: 500;
}
.badge4,
.list5 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.badge4 {
  height: 22px;
  width: 34px;
  border-radius: var(--br-sm);
  background-color: var(--light-solid-color-danger-danger-500-base);
  display: none;
  padding: var(--padding-9xs) var(--padding-3xs);
  box-sizing: border-box;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.list5 {
  border-radius: var(--br-7xs);
  display: flex;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.componentsIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.negcios {
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.list6 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.fileDollarIcon {
  height: 22px;
  width: 22px;
  position: relative;
  object-fit: cover;
}
.faturas {
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.apps,
.list7 {
  justify-content: flex-start;
}
.list7 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.apps {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  gap: var(--gap-9xs);
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.funilDeVendasContainer {
  flex: 1;
  position: relative;
  line-height: 14px;
}
.section3 {
  align-self: stretch;
  border-radius: var(--br-7xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl) var(--padding-8xs);
  color: var(--color-gray-500);
}
.textWrapDisabledIcon {
  height: 22px;
  width: 22px;
  position: relative;
  object-fit: cover;
}
.formulrio {
  align-self: stretch;
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
}
.list8 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.smartHomeIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.automaoEMail {
  align-self: stretch;
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
  white-space: nowrap;
}
.list9 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.copyIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.disparoWhatsapp {
  align-self: stretch;
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
  white-space: nowrap;
}
.list10 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.layoutNavbarIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.campanhaAds {
  align-self: stretch;
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
  white-space: nowrap;
}
.list11,
.pages {
  display: flex;
  justify-content: flex-start;
}
.list11 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.pages {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  gap: var(--gap-9xs);
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.ajuda {
  position: relative;
  line-height: 14px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #fefeff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 23px;
}
.section4 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-11xl) var(--padding-8xs);
}
.settingsIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.configuraes {
  align-self: stretch;
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
}
.list12 {
  border-radius: var(--br-7xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.headphonesIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.suporte {
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
}
.list13 {
  border-radius: var(--br-7xs);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-5xs);
}
.fileTextIcon {
  height: 22px;
  width: 22px;
  position: relative;
}
.faq {
  align-self: stretch;
  width: 170px;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: none;
  align-items: center;
}
.chartsMaps,
.list14,
.menu {
  display: flex;
  justify-content: flex-start;
}
.list14 {
  border-radius: var(--br-7xs);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-mid) var(--padding-5xs)
    var(--padding-base);
  gap: var(--gap-5xs);
}
.chartsMaps,
.menu {
  flex-direction: column;
}
.chartsMaps {
  align-items: flex-start;
  padding: 0 var(--padding-sm);
  gap: var(--gap-9xs);
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.menu {
  position: absolute;
  top: -0.5px;
  left: 0;
  box-shadow: var(--light-gray-gray-sm);
  background-color: var(--light-solid-color-extra-card-background);
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 0 0 var(--padding-605xl);
  box-sizing: border-box;
}
.image1Icon {
  position: absolute;
  top: 33.7px;
  left: 28px;
  width: 29px;
  height: 26px;
  object-fit: cover;
  z-index: 1;
}
.application,
.image8 {
  height: 893px;
  width: 83px;
  position: relative;
}
.image8 {
  height: 67px;
  width: 793px;
  display: none;
  max-width: 100%;
}
.image3 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  width: 1919px;
}
.selectionDescription,
.seleoDeRgos {
  position: relative;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.seleoDeRgos {
  width: 694px;
  font-size: var(--light-basic-typography-h5-heading-size);
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.selectionDescription {
  line-height: 22px;
}

.tribunaisSuperiores {
  position: relative;
  letter-spacing: 1px;
  line-height: 15.56px;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.k {
  min-width: 27px;
}
.k,
.k1,
.k2,
.k3 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.k1 {
  min-width: 16px;
}
.k2 {
  min-width: 24px;
}
.k3 {
  min-width: 13px;
}
.div {
  min-width: 25px;
}
.letterSequence {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 29.3px;
}
.separator {
  top: 197px;
  left: 0.4px;
  border-top: 1px dashed var(--light-solid-color-extra-divider);
  box-sizing: border-box;
  width: 441px;
  height: 1px;
}
.bar,
.dot,
.separator {
  position: absolute;
}
.bar {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.dot {
  top: 68px;
  left: 3.8px;
  border-radius: 50%;
  background-color: var(--light-solid-color-extra-card-background);
  border: 0 solid var(--light-solid-color-primary-primary-500-base);
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  z-index: 4;
}
.bar1,
.dotBarPattern {
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  width: 12px;
  z-index: 1;
}
.dotBarPattern {
  position: absolute;
  top: 61px;
  left: 0;
  height: 136px;
}
.bar1 {
  top: 23px;
  left: 48px;
  height: 174px;
}
.bar1,
.line,
.line1 {
  position: absolute;
}
.line {
  height: 1px;
  width: 441px;
  margin: 0 !important;
  bottom: 48px;
  left: -239.6px;
  border-top: 1px dashed var(--light-solid-color-extra-divider);
  box-sizing: border-box;
}
.line1 {
  bottom: 97px;
}
.line1,
.line2,
.line3 {
  height: 1px;
  width: 441px;
  margin: 0 !important;
  left: -239.6px;
  border-top: 1px dashed var(--light-solid-color-extra-divider);
  box-sizing: border-box;
}
.line2 {
  position: absolute;
  top: 50px;
}
.line3 {
  top: 1px;
}
.bar2,
.dot1,
.line3 {
  position: absolute;
}
.bar2 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.dot1 {
  top: 45px;
  left: 3.4px;
  border-radius: 50%;
  background-color: var(--light-solid-color-extra-card-background);
  border: 0 solid var(--light-solid-color-primary-primary-500-base);
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  z-index: 4;
}
.bar3,
.bar4,
.bar5,
.bar6,
.dotContainer {
  width: 12px;
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  z-index: 1;
}
.dotContainer {
  height: 197px;
  position: relative;
}
.bar3 {
  top: 34px;
  left: 90.1px;
  height: 116px;
}
.bar3,
.bar4,
.bar5,
.bar6 {
  position: absolute;
}
.bar4 {
  top: 14px;
  left: 138.1px;
  height: 136px;
}
.bar5 {
  top: 39px;
  left: 186.1px;
  height: 111px;
}
.bar6 {
  top: 22px;
  left: 330.1px;
  height: 128px;
}
.vectorIcon,
.vectorIcon1,
.wrapperVector {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.vectorIcon {
  top: 0;
  z-index: 2;
}
.vectorIcon1,
.wrapperVector {
  z-index: 3;
}
.vectorIcon1 {
  object-fit: contain;
  top: 16px;
  transform: scale(1.4);
}
.wrapperVector {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dot2 {
  top: 69.5px;
  left: 44.5px;
}
.dot2,
.dot3,
.dot4,
.dot5,
.dot6,
.dot7,
.dot8 {
  position: absolute;
  border-radius: 50%;
  background-color: var(--light-solid-color-extra-card-background);
  border: 0 solid var(--light-solid-color-primary-primary-500-base);
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  z-index: 4;
}
.dot3 {
  top: 76.5px;
  left: 93.5px;
}
.dot4 {
  top: 58.5px;
  left: 141.5px;
}
.dot5 {
  top: 54.5px;
  left: 189.5px;
}
.dot6 {
  top: 29.5px;
  left: 285.5px;
}
.dot7 {
  top: 33.5px;
  left: 333.5px;
}
.dot8 {
  top: 76.5px;
  left: 382.5px;
}
.dotSequence {
  position: absolute;
  top: 0.5px;
  left: 0;
  width: 430.5px;
  height: 87.5px;
}
.barContainer {
  height: 150px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.barContainerWrapper,
.lineParent {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.barContainerWrapper {
  width: 432px;
  margin: 0 !important;
  bottom: 0;
  left: -234.1px;
}
.lineParent {
  top: 0;
  left: 240px;
}
.bar7,
.bar8 {
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  width: 12px;
  z-index: 1;
}
.bar7 {
  position: absolute;
  top: 13px;
  left: 288px;
  height: 184px;
}
.bar8 {
  top: 38px;
  left: 384px;
  height: 159px;
}
.bar8,
.bar9,
.dot9 {
  position: absolute;
}
.bar9 {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.dot9 {
  top: 35px;
  left: 2.4px;
  border-radius: 50%;
  background-color: var(--light-solid-color-extra-card-background);
  border: 0 solid var(--light-solid-color-primary-primary-500-base);
  box-sizing: border-box;
  width: 9px;
  height: 9px;
  z-index: 4;
}
.dotBarPattern1 {
  position: absolute;
  top: 66px;
  left: 432px;
  border-radius: var(--br-9xs);
  background-color: var(--light-solid-color-warning-warning-500-base);
  width: 12px;
  height: 131px;
  z-index: 1;
}
.dotBarSequence {
  height: 198px;
  flex: 1;
  position: relative;
  max-width: 100%;
}
.dotBarSequenceWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-mini) 0 var(--padding-3xs);
  box-sizing: border-box;
  max-width: 100%;
}
.jan {
  min-width: 29px;
}
.jan,
.jan1,
.jan2 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.jan1 {
  min-width: 31px;
}
.jan2 {
  min-width: 32px;
}
.januarySequence {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.jan3 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 32px;
}
.januarySequence1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.jan4 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 32px;
}
.januarySequence2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.jan5 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 32px;
}
.januarySequence3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 22px;
}
.jan6 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 31px;
}
.januarySequence4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.jan7 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 32px;
}
.januarySequence5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xs) 0 0;
}
.jan8,
.jan9 {
  position: relative;
  line-height: 20px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 32px;
}
.jan9 {
  min-width: 37px;
}
.januaryGrid {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.frameChild {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-solid-color-warning-warning-500-base);
}
.cardInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.text3 {
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 62px;
}
.card4 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--light-solid-color-extra-divider);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-2xs);
  gap: var(--gap-5xs);
}
.frameItem {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background-color: var(--light-solid-color-primary-primary-500-base);
}
.cardChild {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.text4 {
  text-decoration: none;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 54px;
}
.card5,
.cardSequence {
  flex: 1;
  flex-direction: row;
}
.card5 {
  border-radius: var(--br-7xs);
  border: 1px solid var(--light-solid-color-extra-divider);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-2xs);
  gap: var(--gap-5xs);
}
.cardSequence {
  gap: var(--gap-xs);
}
.cardSequence,
.cardSequenceWrapper,
.monthContainer,
.monthLabel {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.cardSequenceWrapper {
  width: 248.9px;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.monthContainer,
.monthLabel {
  max-width: 100%;
}
.monthContainer {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  min-width: 244px;
}
.monthLabel {
  align-self: stretch;
  flex-direction: row;
  gap: 17px;
}
.frameDiv {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-7xs);
}
.frameContainer,
.frameDiv,
.letterSequenceParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
  min-width: 305px;
  text-align: left;
}
.letterSequenceParent {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 4.2px;
  text-align: right;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.detailLabel,
.frameGroup {
  flex: 1;
  font-size: var(--light-basic-typography-h5-heading-size);
}
.frameGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  flex-shrink: 0;
  max-width: 100%;
}
.detailLabel {
  bottom: 50px;
  line-height: 24px;
  font-weight: 500;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detailLabel,
.divider,
.text5 {
  position: absolute;
  margin: 0 !important;
  left: 11px;
}
.text5 {
  width: 164px;
  bottom: 4px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}
.divider {
  height: 12px;
  width: 2px;
  bottom: -10px;
  border-right: 2px solid var(--light-solid-color-extra-divider);
  box-sizing: border-box;
}
.text6 {
  width: 137px;
  bottom: 4px;
  left: 191px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}
.divider1,
.text6,
.text7 {
  position: absolute;
  margin: 0 !important;
}
.divider1 {
  height: 12px;
  width: 2px;
  bottom: -10px;
  left: 191px;
  border-right: 2px solid var(--light-solid-color-extra-divider);
  box-sizing: border-box;
}
.text7 {
  width: 84px;
  right: 86px;
  bottom: 4px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}
.divider2 {
  height: 12px;
  width: 2px;
  right: 168px;
  bottom: -10px;
  border-right: 2px solid var(--light-solid-color-extra-divider);
  box-sizing: border-box;
}
.divider2,
.divider3,
.text8 {
  position: absolute;
  margin: 0 !important;
}
.text8 {
  text-decoration: none;
  width: 84px;
  right: -14px;
  bottom: 4px;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
}
.divider3 {
  height: 12px;
  width: 2px;
  right: 68px;
  bottom: -10px;
  border-right: 2px solid var(--light-solid-color-extra-divider);
  box-sizing: border-box;
}
.bar10,
.frameParent {
  position: relative;
  flex-shrink: 0;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs) 122px var(--padding-6xs);
  box-sizing: border-box;
  max-width: 100%;
}
.bar10 {
  height: 46px;
  width: 503px;
  border-radius: var(--br-7xs);
  background-color: var(--light-solid-color-extra-body-background);
  display: none;
}
.chartTitle {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  min-width: 45px;
  z-index: 1;
}
.chartTitleWrapper {
  width: 164px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) var(--padding-xs) 0;
  box-sizing: border-box;
}
.bar11 {
  height: 46px;
  width: 153px;
  position: relative;
  background-color: var(--light-solid-color-primary-primary-500-base);
  display: none;
}
.chartLabelList {
  position: relative;
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 46px;
  z-index: 2;
}
.barParent {
  width: 153px;
  background-color: var(--light-solid-color-primary-primary-500-base);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  z-index: 1;
}
.bar12,
.text9 {
  position: relative;
}
.bar12 {
  height: 46px;
  width: 100px;
  background-color: var(--light-solid-color-info-info-500-base);
  display: none;
}
.text9 {
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 41px;
  z-index: 2;
}
.barGroup {
  width: 100px;
  background-color: var(--light-solid-color-info-info-500-base);
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  z-index: 1;
}
.bar13,
.text10 {
  position: relative;
}
.bar13 {
  height: 46px;
  width: 70px;
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), #8692d0;
  display: none;
}
.text10 {
  line-height: 21px;
  font-weight: 500;
  display: inline-block;
  min-width: 43px;
  z-index: 2;
}
.barParent1,
.chart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.barParent1 {
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
  background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), #8692d0;
  align-items: flex-start;
  padding: var(--padding-smi) var(--padding-smi) var(--padding-xs);
  z-index: 1;
}
.chart {
  border-radius: var(--br-7xs);
  background-color: var(--light-solid-color-extra-body-background);
  overflow-x: auto;
  align-items: flex-end;
  padding: 0 0 0 var(--padding-base);
  box-sizing: border-box;
  flex-shrink: 0;
  max-width: 100%;
}
.arrowUpCircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.detailTrio {
  flex: 1;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.detailPair,
.detailPair1 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.detailPair {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  min-width: 57px;
}
.detailPair1 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  min-width: 45px;
}
.divider4,

.divider4 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--light-solid-color-extra-divider);
}
.arrowDownCircleIcon {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.text11 {
  flex: 1;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text12,
.text13 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}
.text12 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  min-width: 57px;
}
.text13 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  min-width: 46px;
}
.divider5 {
  height: 1px;
  position: relative;
  border-top: 1px solid var(--light-solid-color-extra-divider);
}
.arrowUpCircleIcon1 {
  height: 24px;
  width: 24px;
  position: relative;
  min-height: 24px;
}
.text14 {
  flex: 1;
  position: relative;
  line-height: 22px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text15,
.text16 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 64px;
}
.text16 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 41px;
}
.text17,
.text18 {
  position: relative;
  line-height: 22px;
  font-weight: 500;
  display: inline-block;
  min-width: 63px;
}
.text18 {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    #4b465c;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  min-width: 43px;
}

.card3,
.deta,
.header {
  box-sizing: border-box;
}
.deta {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-2xs);
  gap: var(--gap-xs);
  flex-shrink: 0;
  color: var(--color-gray-600);
}
.card3,
.header {
  position: absolute;
}
.card3 {
  top: 74px;
  left: 19px;
  box-shadow: var(--light-gray-card);
  border-radius: var(--br-7xs);
  background-color: var(--light-solid-color-extra-card-background);
  width: 540px;
  height: 402px;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-5xl) var(--padding-smi);
  gap: var(--gap-13xl);
  z-index: 1;
  font-size: var(--light-form-input-8-placeholder-default-size);
}
.header {
  top: 139px;
  left: 1075px;
  width: 482px;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 var(--padding-12xl) var(--padding-base) var(--padding-5xl);
  gap: var(--gap-5xl);
  z-index: 2;
}
.content,
.jurimetria {
  text-align: left;
  color: var(--light-solid-color-extra-card-background);
  font-family: var(--light-form-input-8-placeholder-default);
}
.content {
  height: 893px;
  flex: 1;
  position: relative;
  max-width: calc(100% - 83px);
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.jurimetria {
  width: 1674px;
  background-color: var(--light-solid-color-extra-card-background);
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--light-basic-typography-caption-size);
}
