.content,
.jurimetria {
  text-align: left;
  color: var(--light-solid-color-extra-card-background);
  font-family: var(--light-form-input-8-placeholder-default);
}
.content {
  width: 100%;
  height: 100vh;
  flex: 1;
  overflow-y: auto;
  position: relative;
  font-size: var(--light-basic-typography-paragraph-small-size);
}
.jurimetria {
  width: 100%;
  height: 100%;
  background-color: var(--light-solid-color-extra-card-background);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  line-height: normal;
  letter-spacing: normal;
  font-size: var(--light-basic-typography-caption-size);
}
