.tableContainer {
  display: block;
  max-height: 235px;
  overflow: hidden;
}

.tableContainer thead, .tableContainer tbody {
  display: block;
}

.tableContainer thead {
  background-color: #f5f5f5;
}

.tableContainer tbody {
  overflow-y: auto;
  max-height: 300px; 
}

.tableContainer tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tableContainer thead tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.tableContainer tbody::-webkit-scrollbar {
  width: 8px; 
}

.tableContainer tbody::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.tableContainer tbody::-webkit-scrollbar-thumb {
  background-color: #a0a0a0; 
  border-radius: 10px;
}

.tableContainer tbody::-webkit-scrollbar-thumb:hover {
  background-color: #888; 
}